/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

/*🩸 header 🩸*/

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header_nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.header_nav ul li {
  color: black;
  font-weight: 300;
}

.header_nav ul li:hover {
  color: #0065fc;
  font-weight: 300;
  border-top: 2px solid #0065fc;
  padding-top: 20px;
}

.header img {
  height: 30px;
  width: 70px;
}

/*🩸 form 🩸*/

#search-wrapper {
  display: flex;
  align-items: stretch;
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  height: 35px;
  border: 1px solid rgba(233, 231, 231, 0.276);
}

#search-wrapper i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#search {
  border: red;
  width: 350px;
  font-size: 15px;
}

#search:focus {
  outline: none;
}

::placeholder {
  font-weight: 900;
  color: black;
  text-align: center;
}

.search-icon {
  color: rgba(0, 0, 0, 0.564);
  background-color: #f2f2f2;
  padding: 0px 10px;
}

#search-button {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #0065fc;
  padding: 0px 10px;
}

.search_button_mobile {
  display: none;
}

/*🩸 filters 🩸*/

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.filters_title,
.p-special {
  margin: 0px;
  margin-right: 10px;
}

.filters ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.filters ul li {
  list-style-type: none;
  border: 1px solid rgb(190, 188, 188);
  padding: 10px;
  border-radius: 50px;
}

.filters ul li:hover {
  background-color: #deebff;
}

.filters_item_icon {
  margin-right: 10px;
}

.filters_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

/* top right bottom left */

.filters_icon_info {
  border: 1px solid rgb(211, 208, 208);
  padding: 5px 8.5px 5px 8.5px;
  border-radius: 100px;
  font-size: small;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

/*🩸 FOR DESKTOP 1440px🩸*/
.main-container {
  width: 100%;
  /* max-width: 1440px; */
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
/*🩸 hebergements 🩸*/
.hebergements .p-special {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  width: 250px;
  height: 230px;
  flex-direction: column;
}

.hebergements-cards img {
  width: 100%;
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}
.shadow_1 {
  transition: 1s ease-out;
}
.shadow_1:hover {
  box-shadow: rgba(10, 30, 161, 0.25) 0 25px 20px -12px;
  transition: 1s ease-out;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***** Activites marseille *****/

.activite-marseille {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px;
}

.marseille-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.marseille-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: fill;
}

.marseille-cards .card {
  display: flex;
  margin-top: 33px;
  width: 290px;
  height: 380px;
  flex-direction: column;
  object-fit: fill;
  display: flex;
  align-items: center;
}

.marseille-cards img {
  width: 290px;
  height: 330px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: fill;
  margin-top: -10px;
}

.marseille-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.marseille-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

/* FOOTER */
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 250px;
  background-color: #f2f2f2;
  margin: 50px 0 50px 0;
}
.footer_item {
  padding-left: 20px;
}

/********  SCREEN 1440px ********/
/********  SCREEN 1440px ********/
/********  SCREEN 1440px ********/
/********  SCREEN 1440px ********/

@media (max-width: 1440px) {
  .main-container {
    width: 100%;
    box-sizing: border-box;
    margin-right: 50px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .hebergements-and-populaires {
    display: flex;
    gap: 20px;
  }

  .hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    width: 250px;
    height: 210px;
    flex-direction: column;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 300px;
  }

  .populaires-cards img {
    width: 39%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 250px;
    height: 360px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 250px;
    height: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }
}
/********  SCREEN 1024px ********/
/********  SCREEN 1024px ********/
/********  SCREEN 1024px ********/
/********  SCREEN 1024px ********/

/* top, right, bottom, left */

@media (max-width: 1024px) {
  .main-container {
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
  }

  .hebergements-title {
    font-size: large;
    padding-bottom: 0;
  }
  .hebergements-cards {
    padding-top: 0;
  }

  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 14px;
  }
  .hebergements-cards .card-rating {
    font-size: 14px;
  }

  .hebergements-cards .card {
    display: flex;
    width: 170px;
    height: 180px;
    flex-direction: column;
  }
  .hebergements-cards img {
    width: 100%;
    height: 95px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /*populaires title */

  .section-title {
    font-size: large;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 240px;
  }

  .populaires-cards img {
    width: 39%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 14px;
  }

  .populaires-cards .card-rating {
    font-size: 14px;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 200px;
    height: 360px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 200px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }

  .marseille-title {
    font-size: 14px;
  }
  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    background-color: #f2f2f2;
    margin: 50px 0 50px 0;
  }
  .footer_item {
    padding-left: 20px;
  }
}


/********  TABLETTE ********/
/********  TABLETTE ********/
/********  TABLETTE ********/
/********  TABLETTE ********/

@media (max-width: 768px) {
  /* top, right, bottom, left */
  .main-container {
    padding: 30px;
    box-sizing: border-box;
  }
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .hebergements-and-populaires section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }

  .hebergements-title {
    font-size: large;
    padding-bottom: 0;
  }

  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 14px;
  }
  .hebergements-cards .card-rating {
    font-size: 14px;
  }

  .hebergements-cards .card {
    display: flex;
    width: 200px;
    height: 100%;
    flex-direction: column;
  }
  .hebergements-cards img {
    width: 100%;
    height: 95px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /*populaires title */

  .section-title {
    font-size: large;
  }
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 210px;
    height: 140px;
  }

  .populaires-cards img {
    width: 35%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 14px;
  }

  .populaires-cards .card-rating {
    font-size: 14px;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 145px;
    height: 270px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 145px;
    height: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }

  .marseille-title {
    font-size: 14px;
  }

  .marseille-cards .card .card-title {
    font-size: 14px;
  }
  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: #f2f2f2;
    margin: 10px;
  }
  .footer_item {
    padding-left: 20px;
    font-size: 14px;
  }
}

/********  MOBILE ********/
/********  MOBILE ********/
/********  MOBILE ********/
/********  MOBILE ********/
@media (max-width: 611px) {
  body {
    width: 650px;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .header img {
    height: 50px;
    width: 90px;
    margin-bottom: 20px;
  }

  .header_nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style-type: none;
  }

  /* if I put padding, the length of the bottom border will be greater */
  .header_nav ul li {
    color: black;
    font-weight: 300;
    font-size: 25px;
    padding: 10px 50px;
  }

  .header_nav ul li:hover {
    color: #0065fc;
    font-weight: 300;
    border-bottom: 2px solid #0065fc !important;
    border-top: none !important;
  }

  .title_subtitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .title_subtitle h2 {
    font-size: 30px;
  }

  .title_subtitle p {
    font-size: 25px;
  }

  #search-wrapper {
    display: flex;
    margin-left: 20px;
    max-width: 530px;
    height: 70px;
    border: 1px solid rgba(248, 247, 247, 0.276);
    margin-bottom: 20px;
    border-radius: 15px;
  }

  #search-wrapper .search-icon {
    width: 90px;
    font-size: 25px;
  }

  ::placeholder {
    font-weight: 900;
    color: black;
    text-align: center;
    font-size: 20px;
  }

  #search-button {
    display: none;
  }

  .search_button_mobile {
    border: none;
    cursor: pointer;
    background-color: #0065fc;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: white !important;
    border-radius: 15px !important;
    width: 90px;
  }

  .search_button_mobile i {
    color: white !important;
    display: flex;
    font-size: 20px;
  }

  .filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start !important;
    font-weight: bold;
    margin-left: 20px;
  }
  .filters p {
    font-size: 25px;
  }

  .filters ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
  }

  .filters ul li {
    list-style-type: none;
    border: 1px solid rgb(190, 188, 188);
    margin-left: 0;
    border-radius: 50px;
    font-size: 20px;
    width: 260px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filters_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-left: 20px;
    font-size: 25px;
  }

  /* top right bottom left */

  .filters_icon_info {
    border: 1px solid rgb(211, 208, 208);
    padding: 9px 13.5px 9px 13.5px;
    border-radius: 100px;
    font-size: 20px;
  }

  /* top, right, bottom, left */
  .main-container {
    padding-top: 20px;
    box-sizing: border-box;
    width: max-content;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires .hebergements {
    background-color: white;
  }

  .hebergements-and-populaires .p-special {
    font-size: 20px;
  }

  .hebergements-title {
    font-size: 27px;
    padding-bottom: 0;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hebergements-cards .card-content {
    padding-top: 20px;
  }

  .hebergements-cards .card-title,
  .hebergements-cards .card-subtitle,
  .hebergements-cards .card-rating {
    font-size: 20px;
  }

  .hebergements-cards .card {
    display: flex;
    width: 550px;
    height: 300px;
    flex-direction: column;
  }
  .hebergements-cards img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /*populaires title */

  .populaires {
    border-radius: none;
    width: 100% !important;
  }

  .populaires-title i {
    margin-right: 40px;
  }

  .populaires-title h2,
  .populaires-title i {
    font-size: 27px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .populaires-cards .card {
    margin-top: 33px;
    width: 550px;
    height: 200px;
  }

  .populaires-cards img {
    width: 35%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-title,
  .populaires-cards .card-subtitle,
  .populaires-cards .card-rating {
    font-size: 20px;
  }

  .marseille-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .marseille-cards .card {
    display: flex;
    width: 550px;
    height: 300px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    padding: 0;
  }

  .marseille-cards img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
  }

  .marseille-title {
    font-size: 27px;
  }

  .marseille-cards .card .card-content .card-title {
    font-size: 20px;
    margin-top: 35px;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f2f2f2;
    margin: 0;
    width: 100%;
  }
  .footer_item {
    margin-left: 20px;
    font-size: 20px;
  }
}

@media screen and (min-width: 701px) and (max-width: 767px) {


  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  /* if I put padding, the length of the bottom border will be greater */
  .header_nav ul li {
    color: black;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 50px;
  }

  .header_nav ul li:hover {
    color: #0065fc;
    font-weight: 300;
    border-bottom: 2px solid #0065fc !important;
    border-top: none !important;
  }

  .title_subtitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  .title_subtitle h2 {
    font-size: 20px;
  }

  .title_subtitle p {
    font-size: 18px;
  }

  #search-wrapper {
    display: flex;

    max-width: 750px;
    height: 70px;
    border: 1px solid rgba(248, 247, 247, 0.276);
    border-radius: 15px;
    position: absolute;

  }

  #search-wrapper .search-icon {
    width: 90px;
    font-size: 18px;
  }

  ::placeholder {
    font-weight: 900;
    color: black;
    text-align: center;
    font-size: 18px;
  }

  #search-button {
    display: none;
  }

  .search_button_mobile {
    border: none;
    cursor: pointer;
    background-color: #0065fc;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: white !important;
    border-radius: 15px !important;
    width: 90px;
    position: relative;
    margin-right: 0;
  }

  .search_button_mobile i {
    color: white !important;
    display: flex;
    font-size: 18px;
  }

  .filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start !important;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 90px;
  }
  .filters p {
    font-size: 20px;
  }

  .filters ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
  }

  .filters ul li {
    list-style-type: none;
    border: 1px solid rgb(190, 188, 188);
    margin-left: 0;
    border-radius: 50px;
    font-size: 18px;
    max-width: 700px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filters_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    font-size: 20px;

  }

  /* top right bottom left */

  .filters_icon_info {
    border: 1px solid rgb(211, 208, 208);
    padding: 6px 10.5px 6px 10.5px;
    border-radius: 100px;
    font-size: 18px;

  }

  /* top, right, bottom, left */
  .main-container {
    padding-top: 20px;
    box-sizing: border-box;
    width: max-content;

  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires .hebergements {
    background-color: white;
  }

  .hebergements-and-populaires .p-special {
    font-size: 18px;
  }

  .hebergements-title {
    font-size: 20px;
    padding-bottom: 0;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hebergements-cards .card-content {
    padding-top: 20px;
  }

  .hebergements-cards .card-title,
  .hebergements-cards .card-subtitle,
  .hebergements-cards .card-rating {
    font-size: 18px;
  }

  .hebergements-cards .card {
    display: flex;
    width: 600px;
    height: 300px;
    flex-direction: column;
  }
  .hebergements-cards img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /*populaires title */

  .populaires {
    border-radius: none;
    width: 100% !important;
  }

  .populaires-title h2,
  .populaires-title i {
    font-size: 18px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .populaires-cards .card {
    margin-top: 33px;
   width: 600px;
    height: 200px;
  }

  .populaires-cards img {
    width: 35%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-title,
  .populaires-cards .card-subtitle,
  .populaires-cards .card-rating {
    font-size: 18px;
  }

  .marseille-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .marseille-cards .card {
    display: flex;
    width: 600px;
    height: 300px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    padding: 0;
  }

  .marseille-cards img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
  }

  .marseille-title {
    font-size: 20px;
  }

  .marseille-cards .card .card-content .card-title {
    font-size: 18px;
    margin-top: 35px;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f2f2f2;
    margin: 0;
    width: 100%;

  }
  .footer_item {

    font-size: 18px;
  }
}

@media screen and (min-width: 611px) and (max-width: 701px) {


  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;

  }

  /* if I put padding, the length of the bottom border will be greater */
  .header_nav ul li {
    color: black;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 50px;
  }

  .header_nav ul li:hover {
    color: #0065fc;
    font-weight: 300;
    border-bottom: 2px solid #0065fc !important;
    border-top: none !important;
  }

  .title_subtitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;

  }

  .title_subtitle h2 {
    font-size: 20px;
  }

  .title_subtitle p {
    font-size: 18px;
  }

  #search-wrapper {
    display: flex;

    max-width: 750px;
    height: 70px;
    border: 1px solid rgba(248, 247, 247, 0.276);
    border-radius: 15px;
    position: absolute;
    margin-left: 30px;

  }

  #search-wrapper .search-icon {
    width: 90px;
    font-size: 18px;
 
  }

  ::placeholder {
    font-weight: 900;
    color: black;
    text-align: center;
    font-size: 18px;
  }

  #search-button {
    display: none;
  }

  .search_button_mobile {
    border: none;
    cursor: pointer;
    background-color: #0065fc;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: white !important;
    border-radius: 15px !important;
    width: 90px;
    position: relative;
    margin-right: 0;
  }

  .search_button_mobile i {
    color: white !important;
    display: flex;
    font-size: 18px;
  }

  .filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start !important;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 90px;
  }
  .filters p {
    font-size: 20px;
  }

  .filters ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
  }

  .filters ul li {
    list-style-type: none;
    border: 1px solid rgb(190, 188, 188);
    margin-left: 0;
    border-radius: 50px;
    font-size: 18px;
    max-width: 700px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filters_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    font-size: 20px;
    margin-left: 30px;

  }

  /* top right bottom left */

  .filters_icon_info {
    border: 1px solid rgb(211, 208, 208);
    padding: 6px 10.5px 6px 10.5px;
    border-radius: 100px;
    font-size: 18px;

  }

  /* top, right, bottom, left */
  .main-container {
    padding-top: 20px;
    box-sizing: border-box;
    width: max-content;
    margin-left: 20px;

  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires .hebergements {
    background-color: white;
  }

  .hebergements-and-populaires .p-special {
    font-size: 18px;
  }

  .hebergements-title {
    font-size: 20px;
    padding-bottom: 0;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hebergements-cards .card-content {
    padding-top: 20px;
  }

  .hebergements-cards .card-title,
  .hebergements-cards .card-subtitle,
  .hebergements-cards .card-rating {
    font-size: 18px;
  }

  .hebergements-cards .card {
    display: flex;
    width: 600px;
    height: 300px;
    flex-direction: column;
  }
  .hebergements-cards img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /*populaires title */

  .populaires {
    border-radius: none;
    width: 100% !important;
  }

  .populaires-title h2,
  .populaires-title i {
    font-size: 18px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .populaires-cards .card {
    margin-top: 33px;
   width: 600px;
    height: 200px;
  }

  .populaires-cards img {
    width: 35%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-title,
  .populaires-cards .card-subtitle,
  .populaires-cards .card-rating {
    font-size: 18px;
  }

  .marseille-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .marseille-cards .card {
    display: flex;
    width: 600px;
    height: 300px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    padding: 0;
  }

  .marseille-cards img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
  }

  .marseille-title {
    font-size: 20px;
  }

  .marseille-cards .card .card-content .card-title {
    font-size: 18px;
    margin-top: 35px;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f2f2f2;
    margin: 0;
    width: 100%;

  }
  .footer_item {

    font-size: 18px;
  }
}


@media screen and (min-width: 1238px) and (max-width: 1424px) {
  .hebergements-and-populaires {
    display: flex;
    gap: 20px;
  }

  .hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    width: 210px;
    height: 210px;
    flex-direction: column;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 300px;
  }

  .populaires-cards img {
    width: 39%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 230px;
    height: 370px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 230px;
    height: 310px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }
}

/***********************************/
/***********************************/
/***********************************/
/***********************************/

@media screen and (min-width: 1024px) and (max-width: 1238px) {
  .main-container {
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
  }

  .hebergements-title {
    font-size: large;
    padding-bottom: 0;
  }
  .hebergements-cards {
    padding-top: 0;
  }

  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 14px;
  }
  .hebergements-cards .card-rating {
    font-size: 14px;
  }

  .hebergements-cards .card {
    display: flex;
    width: 170px;
    height: 180px;
    flex-direction: column;
  }
  .hebergements-cards img {
    width: 100%;
    height: 95px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /*populaires title */

  .section-title {
    font-size: large;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 240px;
  }

  .populaires-cards img {
    width: 39%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 14px;
  }

  .populaires-cards .card-rating {
    font-size: 14px;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 200px;
    height: 360px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 200px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }

  .marseille-title {
    font-size: 14px;
  }
  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    background-color: #f2f2f2;
    margin: 50px 0 50px 0;
  }
  .footer_item {
    padding-left: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 919px) {
  /* top, right, bottom, left */
  .main-container {
    padding: 30px;
    box-sizing: border-box;
  }
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .hebergements-and-populaires section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }

  .hebergements-title {
    font-size: large;
    padding-bottom: 0;
  }

  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 14px;
  }
  .hebergements-cards .card-rating {
    font-size: 14px;
  }

  .hebergements-cards .card {
    display: flex;
    width: 200px;
    height: 100%;
    flex-direction: column;
  }
  .hebergements-cards img {
    width: 100%;
    height: 95px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /*populaires title */

  .section-title {
    font-size: large;
  }
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 210px;
    height: 140px;
  }

  .populaires-cards img {
    width: 35%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 14px;
  }

  .populaires-cards .card-rating {
    font-size: 14px;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 145px;
    height: 270px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 145px;
    height: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }

  .marseille-title {
    font-size: 14px;
  }

  .marseille-cards .card .card-title {
    font-size: 14px;
  }
  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: #f2f2f2;
    margin: 10px;
  }
  .footer_item {
    padding-left: 20px;
    font-size: 14px;
  }
}

@media screen and (min-width: 919px) and (max-width: 992px) {
  /* top, right, bottom, left */
  .main-container {

    box-sizing: border-box;
  }
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .hebergements-and-populaires section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }

  .hebergements-title {
    font-size: large;
    padding-bottom: 0;
  }

  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 14px;
  }
  .hebergements-cards .card-rating {
    font-size: 14px;
  }

  .hebergements-cards .card {
    display: flex;
    width: 210px;
    height: 100%;
    flex-direction: column;
  }
  .hebergements-cards img {
    width: 100%;
    height: 95px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /*populaires title */

  .section-title {
    font-size: large;
  }
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 210px;
    height: 140px;
  }

  .populaires-cards img {
    width: 35%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 14px;
  }

  .populaires-cards .card-rating {
    font-size: 14px;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 145px;
    height: 270px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 145px;
    height: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }

  .marseille-title {
    font-size: 14px;
  }

  .marseille-cards .card .card-title {
    font-size: 14px;
  }
  .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: #f2f2f2;
    margin: 10px;
  }
  .footer_item {
    padding-left: 20px;
    font-size: 14px;
  }
}


