/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

/*🩸 header 🩸*/

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header_nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.header_nav ul li {
  color: black;
  font-weight: 300;
}

.header_nav ul li:hover {
  color: #0065fc;
  font-weight: 300;
  border-top: 2px solid #0065fc;
  padding-top: 20px;
}

.header img {
  height: 30px;
  width: 70px;
}

/*🩸 form 🩸*/

#search-wrapper {
  display: flex;
  align-items: stretch;
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  height: 35px;
  border: 1px solid rgba(233, 231, 231, 0.276);
}

#search-wrapper i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#search {
  border: red;
  width: 350px;
  font-size: 15px;
}

#search:focus {
  outline: none;
}

::placeholder {
  font-weight: 900;
  color: black;
  text-align: center;
}

.search-icon {
  color: rgba(0, 0, 0, 0.564);
  background-color: #f2f2f2;
  padding: 0px 10px;
}

#search-button {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #0065fc;
  padding: 0px 10px;
}

/*🩸 filters 🩸*/

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.filters_title,
.p-special {
  margin: 0px;
  margin-right: 10px;
}

.filters ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.filters ul li {
  list-style-type: none;
  border: 1px solid rgb(190, 188, 188);
  padding: 10px;
  border-radius: 50px;
}

.filters ul li:hover {
  background-color: #deebff;
}

.filters_item_icon {
  margin-right: 10px;
}

.filters_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

/* top right bottom left */

.filters_icon_info {
  border: 1px solid rgb(211, 208, 208);
  padding: 5px 8.5px 5px 8.5px;
  border-radius: 100px;
  font-size: small;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

/*🩸 FOR DESKTOP 1440px🩸*/
.main-container {
  width: 100%;
  /* max-width: 1440px; */
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
/*🩸 hebergements 🩸*/
.hebergements .p-special {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  width: 250px;
  height: 230px;
  flex-direction: column;
}

.hebergements-cards img {
  width: 100%;
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}
.shadow_1 {
  transition: 1s ease-out;
}
.shadow_1:hover {
  box-shadow: rgba(10, 30, 161, 0.25) 0 25px 20px -12px;
  transition: 1s ease-out;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***** Activites marseille *****/

.activite-marseille {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px;
}

.marseille-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.marseille-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: fill;
}

.marseille-cards .card {
  display: flex;
  margin-top: 33px;
  width: 290px;
  height: 380px;
  flex-direction: column;
  object-fit: fill;
  display: flex;
  align-items: center;
}

.marseille-cards img {
  width: 290px;
  height: 330px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: fill;
  margin-top: -10px;
}

.marseille-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.marseille-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

/* FOOTER */
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 250px;
  background-color: #f2f2f2;
  margin: 50px 0 50px 0;
}
.footer_item {
  padding-left: 20px;
}


/*
@media screen and (min-width: 1236px) and (max-width: 1441px) {

  .main-container {
    width: 100%;
    box-sizing: border-box;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .hebergements-and-populaires {
    display: flex;
    gap: 20px;
  }

  .hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    width: 230px;
    height: 210px;
    flex-direction: column;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 300px;
  }

  .populaires-cards img {
    width: 39%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 250px;
    height: 360px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 250px;
    height: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }
}
*/


@media (max-width: 1440px) {  .main-container {
  width: 100%;
  box-sizing: border-box;
  margin-right: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

.hebergements-and-populaires {
  display: flex;
  gap: 20px;
}

.hebergements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  width: 250px;
  height: 210px;
  flex-direction: column;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  width: 300px;
}

.populaires-cards img {
  width: 39%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.marseille-cards .card {
  display: flex;
  margin-top: 33px;
  width: 250px;
  height: 360px;
  flex-direction: column;
  object-fit: fill;
  display: flex;
  align-items: center;
}

.marseille-cards img {
  width: 250px;
  height: 320px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: fill;
  margin-top: -10px;
}
}


/* top, right, bottom, left */

@media (max-width: 1024px) {  
  .main-container {
  margin:15px 15px 15px 0;
  box-sizing: border-box;
  background-color: aqua;
}


.hebergements-title {
 font-size: large;
}

.hebergements-cards .card-title {
  font-size: 14px;
}

.hebergements-cards .card-subtitle {
  font-size: 14px;
}
.hebergements-cards .card-rating {
  font-size: 14px;
}

.hebergements-cards .card {
  display: flex;
  width: 180px;
  height: 180px;
  flex-direction: column;
}
.hebergements-cards img {
  width: 100%;
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/*populaires title */

.section-title { 
  font-size: large;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  width: 200px;
}

.populaires-cards img {
  width: 39%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.populaires-cards .card-title {
font-size: 14px;
}

.populaires-cards .card-subtitle {
  font-size: 14px;
}

.populaires-cards .card-rating {
  font-size: 14px;
}

.marseille-cards .card {
  display: flex;
  margin-top: 33px;
  width: 250px;
  height: 360px;
  flex-direction: column;
  object-fit: fill;
  display: flex;
  align-items: center;
}

.marseille-cards img {
  width: 250px;
  height: 320px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: fill;
  margin-top: -10px;
}
}

/*
@media screen and (min-width: 1226px) and (max-width: 1252px) {

  .main-container {
    width: 100%;
    box-sizing: border-box;
   
  }

  .hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    width: 220px;
    height: 190px;
    flex-direction: column;
  }

  .hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .hebergements-cards .card-content {
    font-size: 12px;
  }
  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 290px;
  }

  .populaires-cards img {
    width: 39%;
    height: 120px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-content {
    font-size: small;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 230px;
    height: 330px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 230px;
    height: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }
  .marseille-cards .card-content {
    font-size: small;
  }
}
*/

/*
@media screen and (min-width: 992px) and (max-width: 1441px) {
  .main-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .hebergements-and-populaires {
    display: flex;
    gap: 20px;
  }

  .hebergements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  section.populaires {
    width: 35%;
  }
}
*/
/*
@media screen and (min-width: 992px) and (max-width: 1226px) {

  .main-container {
    width: 100%;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    width: 200px;
    height: 170px;
    flex-direction: column;
  }

  .hebergements-cards img {
    width: 100%;
    height: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .hebergements-cards .card-content {
    font-size: 12px;
  }
  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 280px;
  }

  .populaires-cards img {
    width: 40%;
    height: 120px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .populaires-cards .card-content {
    font-size: small;
  }

  .marseille-cards .card {
    display: flex;
    margin-top: 33px;
    width: 210px;
    height: 320px;
    flex-direction: column;
    object-fit: fill;
    display: flex;
    align-items: center;
  }

  .marseille-cards img {
    width: 210px;
    height: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
    margin-top: -10px;
  }
  .marseille-cards .card-title {
  font-size: 14px;
  }
  .footer_item {
    padding-left: 10px;
  }
  .footer_container {
    gap: 80px;
  
  }
}
  */


  /*
@media screen and (min-width: 992px) and (max-width: 1440px) {
  .main-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .hebergements-and-populaires {
    display: flex;
    gap: 20px;
  }

  .hebergements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  section.populaires {
    width: 35%;
  }
}
*/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

/*
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}
  */

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
